<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.lost2found">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".lost2foundUI.loginregisterUI.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lost2foundUI.loginregisterUI.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".lost2foundUI.homeUI.HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_announce_section"/>

        <activity
        android:name=".lost2foundUI.seekerUI.SeekerActivity"
        android:screenOrientation="portrait"
        android:label="Buscar objeto"/>

        <activity
            android:name=".lost2foundUI.chatUI.ChatActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_chat_section"/>

        <activity
            android:name=".lost2foundUI.chatUI.chatConcreteUI.ChatConcrete"
            android:screenOrientation="portrait"
            />
        <!--android:label="@string/title_chatconcrete_section"-->

    </application>

</manifest>